html, body {
    overflow-x: hidden; /* Esconde a rolagem horizontal */
    margin: 0; /* Remove margens padrão que podem causar rolagem */
    padding: 0; /* Remove o preenchimento padrão */
    width: 100%; /* Garante que a largura seja 100% */
    box-sizing: border-box; /* Inclui bordas e padding nas dimensões */
}
body{ 
    background: linear-gradient(to bottom, lightblue, lightpink);
        height: 100vh;
        margin: 0;          
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.area {
    position: relative;
    width: 600px;
    height: 600px;
    margin-top: 0px;
}

.roleta {
    margin-top: 20px;
    margin-left: 20vw;
    border: 10px solid #FFFFFF;
    position: relative;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    overflow: hidden;
/*    animation: roleta 5s linear infinite;*/
}

.seta {
    margin-top: 20px;
    margin-left: 20vw;
    position: absolute;
    left: 48.5%;
    border-bottom: 0px solid transparent;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 40px solid #3ECA51;
    width: 0;
    height: 0;
    z-index: 1;
}

#box1{
    position: absolute;
    width: 0;
    height: 0;
    border-top: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 150px solid #FBB900;
    border-left: 150px solid #FBB900;
}
#box2{
    position: absolute;
    width: 0;
    height: 0;
    border-top: 150px solid #EC6500;
    border-right: 150px solid #EC6500;
    border-bottom: 150px solid transparent;
    border-left: 150px solid transparent;

}

#box3{
    position: absolute;
    width: 0;
    height: 0;
    border-top: 150px solid #d40051;
    border-right: 150px solid transparent;
    border-bottom: 150px solid transparent;
    border-left: 150px solid #d40051;
    left: 50%;
}

#box4{
    position: absolute;
    width: 0;
    border-top: 150px solid #D5E14D;
    border-right: 150px solid transparent;
    border-bottom: 150px solid transparent;
    border-left: 150px solid #D5E14D;
    top: 50%;
}

#box5{
    position: absolute;
    width: 0;
    border-top: 150px solid transparent;
    border-right: 150px solid #0A367F;
    border-bottom: 150px solid #0A367F;
    border-left: 150px solid transparent;
    left: 50%; 
}

#box6{
    position: absolute;
    width: 0;
    border-top: 150px solid #5D2082;
    border-right: 150px solid #5D2082;
    border-bottom: 150px solid transparent;
    border-left: 150px solid transparent;
    top: 50%;
    left: 50%; 
}
#box7{
    position: absolute;
    width: 0;
    border-top: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 150px solid #961680;
    border-left: 150px solid #961680;
    top: 50%;
    left: 50%; 
}
#box8{
    position: absolute;
    width: 0;
    border-top: 150px solid transparent;
    border-right: 150px solid #009DDC;
    border-bottom: 150px solid #009DDC;
    border-left: 150px solid transparent;
    top: 50%;
}

.genero {
    position: absolute;
    z-index: 100;
    font-size: 27px;
    font-weight: bold;
    color: white;
}

.genero1 {
    top: 35%;
    left: 8%;
    transform: rotate(25deg);
}

.genero2 {
    top: 16%;
    left: 27%;
    transform: rotate(55deg);
}

.genero3{
    top: 15%;
    left: 55%;
    transform: rotate(115deg);
}

.genero4 {
    top: 33%;
    left: 70%;
    transform: rotate(150deg);
}

.genero5 {
    top: 60%;
    left: 70%;
    transform: rotate(210deg);
}

.genero6 {
    top: 79%;
    left: 53%;
    transform: rotate(250deg);
}

.genero7 {
    top: 79%;
    left: 28%;
    transform: rotate(290deg);
}


.genero8{
    top: 58%;
    left: 10%;
    transform: rotate(-8deg);
}


@keyframes roleta {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.btnRoleta {
    position: absolute;
    color: #000000;
    background-color: #FFFFFF;
    top: 42%;
    left: 42%;
    font-size: 35px;
    border-radius: 50%;
    height: 100px;
    width:100px;
    text-align: center;
}


#btParar {
      visibility: hidden;
    }

    
#mensagem{
    margin-top: 1200px;
    background: #D40073;
    margin-left: 70%;
    color: #FBB900;
    z-index: 200;
}

#codigoInput {
    margin-left: 50vw;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #ffcc00;
    color: #000;
    font-size: 18px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    margin-right: 15px; /* Espaço entre o input e o botão */
}


#codigoInput::placeholder {
    color: #000;
    opacity: 0.7; /* Opacidade do placeholder */
}

#codigoInput:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(255, 204, 0, 0.8);
}

#vldBtn {
    margin-left: 41vw;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    background-color: #ff0015;
    color: white;
    font-size: 40px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
}

#vldBtn span {
    margin-left: 10px; /* Adiciona um pequeno espaço entre o texto "Aguarde" e o contador */
}

#vldBtn:hover {
    background-color: #ff0015;
    transform: scale(1.05);
}

#vldBtn:active {
    transform: scale(0.95);
}

.tituloArea {
    font-size: 3em; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
    color: #e7473c; /* Vermelho */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra do texto */
    margin: 20px 0; /* Margem superior e inferior */
    padding: 10px; /* Espaçamento interno */
    background: linear-gradient(45deg, #ffcc00, #ff9900); /* Gradiente de fundo */
    border-radius: 15px; /* Bordas arredondadas */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* Sombra ao redor da div */
    transition: transform 0.3s; /* Transição suave para o efeito de hover */
    width: 100%; /* Ocupa toda a largura */
    display: flex; /* Permite usar flexbox para alinhamento */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
}

.tituloArea:hover {
    transform: scale(1.05); /* Aumenta o tamanho ao passar o mouse */
}

#inputContainer {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    justify-content: center; /* Centraliza os itens horizontalmente */
    margin-top: 20px; /* Ajuste a margem conforme necessário */
}

@media screen and (max-width: 650px) {
    .roleta {
        margin-left: 5px;
        width: 600px;
        height: 600px;
    }
    .seta {
        margin-left: 5px;
    }
    .area {
        position: relative;
        width: 600px;
        height: 600px;
        margin-top: 0px;
    }
    #codigoInput{
        margin-left: 100px;
    }
}